<header >
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md  fixed-top  headerShadow"
  [ngClass]="{'navbar-primary bg-primary':theme =='primary','navbar-dark bg-dark':theme =='dark' }">
    <a class="navbar-brand text-white" href="javascript:void(0)" routerLink="/">{{businessName}}</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="navbar-collapse collapse" id="navbarCollapse" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngFor="let menu of menus">
          <a class="nav-link" routerLink="{{menu.state}}" routerLinkActive="activeMenu">{{menu.title}} </a>
        </li>        
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)" routerLink="/" >Disabled</a>
        </li> 
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>