<app-sn-header  class="border" [businessName]='title' [menus]="menuTop"></app-sn-header>



  <!-- Slider
    <div class="row border ">
               <app-sn-slider ></app-sn-slider>
        </div>       
        The content 
<div class="container-fluid  customContainer border">
<div class="row">
    <div class="card text-center col shadow" style="width: 18rem;margin:0.5rem;">
        <div class="card-body">
          <h5 class="card-title">Feature #1</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card text-center col shadow" style="width: 18rem;margin:0.5rem;">
          <div class="card-body">
            <h5 class="card-title">Feature #2</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card text-center col shadow" style="width: 18rem;margin:0.5rem;">
            <div class="card-body">
              <h5 class="card-title">Feature #3</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

</div>
  <code>TO DO - Features [100% Delivery, Affordable Pricing, Latest Tech used]</code>
<hr>
<code>TO DO - Services- [Service 1, Service 2, Service 3]</code>
<hr>
<code>TO DO - Team Size- [#skilled workers, #management team ]</code>
<hr>
<code>TO DO - Features</code>
<hr>

</div>-->
<section class="main-container">
  <router-outlet class="customContainer"></router-outlet>


</section>


<!--Footer-->
<app-sn-footer [businessName]='title'></app-sn-footer>

