<!--Slider-->
<div class="row border ">
  <app-sn-slider></app-sn-slider>
</div>
<!--The content -->
<div class="container-fluid  customContainer border">
  <div class="row">
    <div class="card text-center col shadow" style="width: 18rem;margin:0.5rem;" *ngFor="let feature of features">
      <div class="card-body">
        <h5 class="card-title">{{feature.title}}</h5>
        <p class="card-text">{{feature.desc}}</p>
        <a href="#" class="btn btn-primary" (click)="onclickFeature(feature)">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 data-scroll >Heading 1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eius accusamus tenetur aliquam cum at voluptatibus et facere totam sit minima, libero ut consequuntur quis deserunt quod, odit, consequatur quam.
      Nulla fugiat esse natus vero, omnis debitis non a reiciendis enim expedita deleniti deserunt nostrum id eaque maxime exercitationem molestiae consectetur quas adipisci. Ex ullam earum officia qui, deserunt voluptas!
      Animi laudantium explicabo quod veritatis aliquid. In architecto iusto atque numquam pariatur? Ipsum facilis ducimus, commodi eius hic esse libero iure reiciendis cumque quia deleniti ad dicta corrupti tenetur maiores.
      Aliquid illo optio consectetur, numquam facere fuga? Provident minima ratione ipsum facilis, modi consequuntur iusto recusandae excepturi, et quasi, quisquam velit! Ab veritatis illo quisquam consectetur corporis labore dolorum natus?
      Aspernatur esse tempora numquam corporis iste at, pariatur optio laboriosam corrupti accusamus eaque perferendis repudiandae? Impedit ullam repellendus consequatur soluta culpa excepturi tempore, dolores unde fugiat iusto similique consequuntur quae!
      Laudantium inventore quis earum eveniet culpa consequuntur molestias aspernatur, porro consequatur? Explicabo velit eum totam hic officiis, quo molestiae tenetur culpa! Placeat, quaerat a. Asperiores nostrum voluptates nihil itaque similique?
      Dignissimos soluta laudantium reprehenderit, perspiciatis dicta natus officiis, nemo fugit sequi reiciendis cumque alias qui recusandae. Explicabo, magni adipisci, nisi alias consequuntur, vero dolor possimus corporis minima recusandae odio sint.
      Quis sapiente, quaerat debitis ducimus corrupti minus quidem cupiditate necessitatibus nisi neque beatae perferendis earum natus quia molestias labore atque? Magnam magni repellat necessitatibus soluta pariatur architecto alias autem asperiores?
      Dolor voluptatem placeat ipsum dicta iusto porro ad illo nesciunt culpa corporis blanditiis, enim esse eum sit pariatur rem sapiente tempora voluptates. Non aliquid similique provident molestiae voluptates pariatur laboriosam.
      Fugit eveniet enim architecto qui magnam ipsa! Autem ab quasi, nam veritatis natus necessitatibus distinctio ea dolor suscipit? Quae eaque dicta impedit ullam perferendis dolor enim deserunt voluptatum repellat unde?
    </p>
  </div>
</div>
